# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
